h1.svelte-1uha8ag{text-align:center}div.svelte-1uha8ag{padding:1rem}.footer-quote.svelte-1uha8ag{position:fixed;bottom:.8rem;right:0;left:0;text-align:center;font-size:1rem;margin-top:2rem;align-self:bottom;color:#666}
